* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px outset red;
    border-top-color: rgb(0, 136, 91);
    border-bottom-color: rgb(0, 136, 91);
    margin: 0.5rem;
    padding: 1.25rem;
    font-size: 1.25rem;
    outline: 2px dotted;
    outline-offset: 2px;
}

.circle {
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: rgb(255, 213, 0);
    border: 2px solid #000;
    border-radius: 50%;
    outline: 2px solid #6d0fd1;
    outline-offset: -5px;

}