@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");


/* || RESET */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

/* || VARIABLES */
:root {
    /* FONTS */
    --FF: "Nunito", sans-serif
    --FF-HEADINGS: "Fugaz One", cursive;
    --FS: clamp(1rem, 2.2vh, 1.5rem)
}

