@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");


/* || RESET */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit;
}

/* || VARIABLES */
:root {
    /* FONTS */
    --FF: "Nunito", sans-serif;
    --FF-HEADINGS: cursive;
    --FS: clamp(1.1rem, 2.2vh, 1.5rem);

    /* COLORS */
    --BG-COLOR: orange;
    --BGCOLOR-FADE: rgb(252, 220, 160);
    --BGIMAGE: linear-gradient(to bottom, var(--BG-COLOR), var(--BGCOLOR-FADE));
    --BODY-BGCOLOR: rgb(230, 228, 228);
    --FONT-COLOR: #181818;
    --BORDER-COLOR: #333;
    --LINK-COLOR: #111;
    --LINK-HOVER: hsla(0, 0%, 0%, 0.6);
    --LINK-ACTIVE: orange;
    --HEADER-BGCOLOR: #121212;
    --HEADER-COLOR: #eaeaea;
    --HIGHLIGHT-COLOR: rgb(51, 178, 51);
    --NAV-BGCOLOR: linear-gradient(to bottom, #e9e9e9, #fefefe);
    --HERO-BGCOLOR: rgba(51, 171, 51, 0.75);
    --HERO-COLOR: #dddddd;

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);

    /* STANDARD PADDING */
    --PADDING-TOP-BTM: 0.25em;
    --PADDING-SIDE: 2.5%;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

/* || UTILITY CLASSES */

.offscreen {
    position: absolute;
    right: 10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.black__text {
    color: #181818;
}

/* || GENERAL STYLES */

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BG-COLOR);
    background-image: var(--BGIMAGE);
}

body {
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER-COLOR);
}

h1,
h2,
h3 {
    font-family: var(--FF-HEADINGS);
    letter-spacing: 0.1em;
}

h2,
h3 {
    margin-bottom: 1em;
    color: var(--HIGHLIGHT-COLOR)  
}

p {
    line-height: 1.5;
}

a:any-link {
    color: var(--LINK-COLOR)
}

a:hover, a:focus-visible {
    color: var(--LINK-HOVER);

}

a:active {
    color: var(--LINK-ACTIVE);
}

.header__ul {
    padding: var(--PADDING-TOP-BTM) var(--PADDING-SIDE);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

/* || HEADER */

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__h1 {
    text-align: center;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TOP-BTM) var(--PADDING-SIDE);
}

.header__nav {
    background-image: var(--NAV-BGCOLOR);
    border-bottom: var(--BORDERS);
    font-weight: bold;
    box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
}

/* HERO */ 

.hero {
    position: relative;
}

.hero__h2 {
    background-color: var(--HERO-BGCOLOR);
    color: var(--HERO-COLOR);
    padding: 0.25em 0.5em;;
    text-shadow: 3px 2px 1px var(--BORDER-COLOR); 
    position: absolute;
    top: -100px;
    left: 20px;
    animation: showWelcome 0.5s ease-in-out 1s forwards;
}



@keyframes showWelcome {
    0% {
        top: -20px;
        transform: skew(0deg, -5deg)
        scaleY(0);
    }

    80% {
        top: 30px;
        transform: skew(1deg, -5deg)
        scaleY(1.05)
    }

    100% {
        top: 20px;
        transform: skew(-3deg, -5deg)
        scaleY(1)
    }
}

/* || FOOTER */

.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TOP-BTM) var(--PADDING-SIDE);
    text-align: center;
    font-size: 0.75em;
}

/* || MAIN */

.main {
    padding: var(--PADDING-TOP-BTM) var(--PADDING-SIDE);
}

.main__article {
    scroll-margin-top: 6.5rem;
    margin: var(--MARGIN);
}

.main__article:first-child {
    margin-top: 1em
}

.main__article:first-child {
    min-height: calc(100vh - 24rem);
}

/* || ABOUT */

.about__trivia {
    margin: var(--MARGIN);
}

.about__trivia-answer {
    margin-top: 1em;
}


/* || CONTACT */

.contact__h2 {
    margin: 0;
    text-align: center;
}

.contact__fieldset {
    border: none;
}

.contact__p {
    margin: 0.75em 0;
}

.contact__label {
    display: block;
    font-weight: bold;
}

.contact__input, .contact__textarea {
    padding: 0.5em;
    border-radius: 15px;
    border-width: 2px;
    width: 100%;
}

.contact__button {
    padding: 0.75em;
    border-radius: 15px;
    background-color: var(--HIGHLIGHT-COLOR);
    color: var(--HEADER-COLOR);
    font-size: var(--FS);
}

/* || MENU */

thead, tbody, tfoot, tr {
    display: contents;
}

.menu__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "hd1 hd2 hd3"
        "cr cr1 cr1p"
        "cr cr2 cr2p"
        "cr cr3 cr3p"
        "sf sf1 sf1p"
        "sf sf2 sf2p"
        "sf sf3 sf3p"
        "cs cs cs";
    gap: 0.1em;
    margin-bottom: 1em;
}

.menu__cr {
    grid-area: cr;
}

.menu__sf {
    grid-area: sf;
}

.menu__cs {
    grid-area: cs;
    color: var(--HIGHLIGHT-COLOR);
    font-weight: bold;
    text-align: center;
    padding: 1.5em;
}

.menu__cr, .menu__sf, .men {
    color: var(--HIGHLIGHT-COLOR);
    font-weight: bold;
    height: 100%;
    display: grid;
    place-content: center;
}

.menu__item {
    display: grid;
    place-content: center;
    font-size: 1.15em;
}

.menu__header {
    font-size: 1.5em;
}

.menu__border {
    border-bottom: 2px solid var(--BORDER-COLOR);
}

@media screen and (min-width: 576px) {
    .header__h1::before {
        content: "🌮 ";
    } 
    
    .header__h1::after {
        content: " 🌮";
    }
}

